  {% load static %}
  {% for comment in replies %}

  <div class="comment-thread">
      <div class="comment">
          <p class="author">{{ comment.author }}</p>
          <p>{{ comment.text }}</p>
          <div class="meta">

           <form method="post" action="{% url 'core:post' subreddit_name=subreddit_name post_id=post.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <input type="hidden" name="likesNdis" id="vote-type-{{ comment.id }}">

                        <button type="button"
                            onclick="document.getElementById('vote-type-{{ comment.id }}').value='like'; this.form.submit()">&#9650;</button>
                        {{ comment.like }} |

                        <button type="button"
                            onclick="document.getElementById('vote-type-{{ comment.id }}').value='dislike'; this.form.submit()">&#9660;</button>
                        {{ comment.dislike }}
                    </form> <p class="reply-btn" data-id="{{ comment.id }}">reply</p>
              {% if user.username == comment.author %}
               <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="delete_comment_id" value="{{comment.id}}">
                    <button type="submit" class="deleteBtn">delete</button>
                </form>
              {% endif%}
          </div>
          <form method="post" class="reply-form hidden" data-parent="{{ comment.id }}">
              {% csrf_token %}
              <input type="hidden" name="parent" value="{{ comment.id }}">
              <textarea name="comment" placeholder="Reply to this comment..." required></textarea>
              <button type="submit">Reply</button>
          </form>

      </div>
      {% if comment.replies.all %}
      {% include "core/comment_replies.html" with replies=comment.replies.all %}
      {% endif %}
  </div>
  {% endfor %}