

{% for comment in replies %}

    <div class="comment-thread">
        <div class="comment">
            <p class="author">{{ comment.author }}</p>
            <p>{{ comment.text }}</p>
            <div class="meta">
                👍 {{ comment.like }} | 👎 {{ comment.dislike }}
                <div>
                    <form method="post" style="margin-top: 10px;">
                        {% csrf_token %}
                        <input type="hidden" name="parent" value="{{ comment.id }}">
                        <textarea name="comment" placeholder="Reply to this comment..." required></textarea>
                        <button type="submit">Reply</button>
                    </form>
                </div>
            </div>
        </div>
        {% if comment.replies.all %}
            {% include "core/comment_replies.html" with replies=comment.replies.all %}
        {% endif %}
    </div>
{% endfor %}
