<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">

</head>

<header>
    <div>
        <h1>
            <a href="/kazreddit" id="logo"> <span class="logo-blue">Kaz</span><span class="logo-red">Reddit</span></a>
            {{user.username}}
        </h1>
    </div>
</header>
<body>
    <div class="container">
        <h1>{{ post.title }}</h1>
        <div class="post-text">{{ post.text }}</div>

        <h2>Comments</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="comment">Write commentary</label>
                <textarea name="comment" id="comment" required></textarea>
            </div>
            <button type="submit">Create new subreddit</button>
        </form>
        {% if comments %}
            {% for comment in comments %}
                {% if not comment.parent %}
                    <div class="comment">
                        <p class="author">{{ comment.author }}</p>
                        <p>{{ comment.text }}</p>
                         <div class="meta">
                👍           {{ comment.like }} | 👎 {{ comment.dislike }}
                              <form method="post" style="margin-top: 10px;">
                                  {% csrf_token %}
                                  <input type="hidden" name="parent" value="{{ comment.id }}">
                                  <textarea name="comment" placeholder="Reply to this comment..." required></textarea>
                                  <button type="submit">Reply</button>
                              </form>
                        </div>
                        {% include "core/comment_replies.html" with replies=comment.replies.all depth=0 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="no-comments">No comments yet</p>
        {% endif %}
    </div>

</body>
</html>