body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    #logReTag {
        color: #0d60c3;
    }
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

.logo {
    font-size: 100px;
    font-weight: bold;
}

.logo .kaz {
    color: #3498db;
}

.logo .reddit {
    color: #e74c3c;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.logo-red {
    color: red !important;
}

.comment {
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.comment .author {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.comment .meta {
    font-size: 0.9em;
    color: #888;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

}

.comment p {
    margin: 5px 0;
}

.comment-thread {

    margin-left: 25px;
    padding-left: 15px;
    border-left: 2px solid #ccc;
    margin-top: 10px;
}

.comment-thread .comment-thread {
    border-left: 2px dashed #ccc;
    margin-left: 15px;
}

.post-text {
    margin-top: 20px;

    padding: 15px;

    border-radius: 6px;
    margin-bottom: 30px;

}

form {
    max-width: 500px;

    padding: 20px;
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

form textarea {
    min-height: 100px;
}



.hidden {
    display: none;
}

.formPost button {
    background-color: hsl(213, 100%, 68%);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formPost button:active {
    transform: scale(0.97);
}

.deleteBtn{
    all: unset;
    color: #888;
}
